<!DOCTYPE html>
<html lang="fr">
<head>

<%-include('./header.ejs') %>

</head>
<body>
    <%-include('./navbar.ejs') %>
    <h1 class="text-center">vue de la page demo</h1>
    
    <% for (let i=0; i < data.length; i++) {%>
    <p>
        <%= data[i] %>
    </p>
    <% } %>
    <img src="/static/img/tasha.jpg" alt="">
</body>
</html>