<!DOCTYPE html>
<html lang="fr">
<head>
 <%-include('./header.ejs') %>
</head>
<body>
    <%-include('./navbar.ejs')  %>
    <h1 class="text-center">test</h1>

    <p>
        
    </p>
</body>
</html>